{
  "env": {
    "development": {
      "plugins": [
        [
          "styled-components",
          {
            "displayName": false,
            "ssr": true,
            "preprocess": false
          }
        ]
      ],
      "presets": ["next/babel"]
    },
    "production": {
      "plugins": [
        [
          "styled-components",
          {
            "displayName": false,
            "ssr": true,
            "preprocess": false
          }
        ]
      ],
      "presets": ["next/babel"]
    },
    "test": {
      "plugins": [
        [
          "styled-components",
          {
            "displayName": false,
            "ssr": true,
            "preprocess": false
          }
        ]
      ],
      "presets": [["env", { "modules": "commonjs" }], "next/babel"]
    }
  },
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "components": "./components",
          "hoc": "./hoc",
          "pages": "./pages",
          "atomic": "./redux/actions/atomic",
          "sagas": "./redux/actions/sagas",
          "reducers": "./redux/reducers",
          "store": "./redux/store",
          "styled": "./styled",
          "utils": "./utils",
          "animations": "./utils/animations"
        }
      }
    ]
  ]
}
